:root {
  --icon-font-size: 17px;
  --icon-color: #f4a261;
}

html, body { margin: 0; padding: 0; width:100%; height:100%;}

#root, main { margin: 0; padding: 0; width:100%; height:100%;}

.widget {
  width: 100%;
  height: 100%;
  background-color: white;
}
